#formX,
#formO {
    display: none;
}

.lobby_container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 400px;
    border: 1px solid black;
}

#lobbyX:before {
  content: "\f00d"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 400px;
  color: lightblue;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}

.lobby_column {
    width: 300px;
    margin: auto;
    text-align: center;
}

.lobby_item {
    height: 100px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid red;
}